@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  font-family: "Inter", serif;
  box-sizing: border-box;
}



.nav-link {
  color: #ffffff; 
}
.frame{
  height:30vh;
}
.boddy{
  background-color:#00182C;
}
.reseña{
  color: #DE9F0E
}
.containerr {
  position: relative;
  background-color: #F0E68C;
  padding: 20px;
}
.containerrr{
  background-color: #00182C;
  color: #fff;
  
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #333;
  cursor: pointer;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.image-container {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.social-icon {
  margin: 0 10px;
  font-size: 24px;
}
.footerr{
  background-color: #F0E68C;
}
.hero {
  position: relative;
  text-align: center; 
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #DE9F0E; 
  font-family: "Alata", sans-serif !important;
  font-size: 4rem;
  z-index: 1; 
}.hero-text h1{

  font-family: "Alata", sans-serif !important;

}
.footer {
  background-color: #ECCB7F;
  padding: 20px;
  color: black;
}
.footer .contact-info {
  margin-bottom: 10px;
}
.footer .social-icons a {
  color: black;
  margin-right: 10px;
}

.list-group {
  background-color: #212529; 
  border: none;
}
.header-image{
  max-width: 100%;
  height: auto;
}
.list-group-item {
  border: none;
}
.bg-amarillo {
  background-color: #ECCB7F; 
}